<!DOCTOR html>
<html xmlns="http://www.w3.org/1999/html" data-bs-theme="dark">
  <head>
    {% include 'bootstrap.html' %}
    </head>
  <body>
    {% include 'nav.html' %}
    <h4>Application Form</h4>
    <form action="/job/{{job['id']}}/apply" method="Post">
    <div class="mb-2">
    <label>Full_Name</label><br>
    <input type="text" name="Full_name" placeholder="Bruce Wayne">
    </div>
    <div class="mb-2">
    <label>Email</label><br>
    <input type="text", name="email" placeholder="Bruce@Wyne.com">
    </div>
    <div class="mb-2">
    <label>LinkdIn</label><br>
    <input type="text" name="email" placeholder="https://LinkdIn.com/">
    </div>
    <input type="submit">
    <div class="mb-2">
        <label>Education</label><br>
        <textarea name="education"></textarea>
    </div>
    <div class="mb-2">
        <label>Work Experience</label>
        <textarea name="work experience"></textarea>
    </div>
    </form>
    {% include 'footer.html' %}
  </body>
</html>