<!DOCTOR html>
<html xmlns="http://www.w3.org/1999/html" data-bs-theme="dark">
  <head>
    <title>Kourosh Carees</title>
    {% include 'bootstrap.html' %}

  </head>
  <body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
  <div class="container">
   <h2 class="text-center mt-2 mb-4">Kourosh Career</h2>
  <div class="row" style="margin-bottom: 16px">
  <div class="col-md-6">
   <p class="lead">
      Ipsum sem arcu venenatis ex aliquet. Venenatis libero mi eu sem ipsum felis dignissim vestibulum velit. Ex penatibus lectus montes posuere sollicitudin torquent sit nunc. Volutpat aenean senectus auctor et phasellus ante maximus at ac curae. Lorem maecenas suspendisse accumsan lectus amet purus.

Morbi aptent pulvinar luctus vel duis faucibus interdum molestie eleifend platea. Tortor semper inceptos sociosqu tincidunt cras. Potenti fringilla ridiculus lobortis laoreet at consequat semper. Platea felis dictumst metus ante non ullamcorper eu urna enim finibus senectus.

Congue erat lobortis arcu nunc morbi mattis porta semper pretium habitant. Venenatis tempor consequat ultricies arcu cras sociosqu aptent tellus augue volutpat ornare. Mattis egestas himenaeos diam vestibulum senectus mauris habitasse. Sit lobortis pede laoreet quam congue id neque penatibus. Vivamus mus faucibus consequat condimentum nascetur nibh scelerisque rutrum maecenas metus.
    </p>
  </div>
  <div class="d-none d-md-block col-md-6">
      <img src="https://assets.entrepreneur.com/content/3x2/2000/20180313173216-GettyImages-692292412.jpeg" style="height: 440px">
  </div>
    <h2 class="text-center mt-2 mb-4"> Open Positions </h2>
    <p>
        {% for job in jobs %}
            {% include 'jobitems.html' %}
        {% endfor %}
    </p>
    <div class="text-center">
    <a class="btn btn-primary btn-lg" href="mailto:m.aghazadeh@son.ir?subject=Cantact&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20Question%3A%20%3CEnter%20question%3E"> Contact us</a>
    </div>
    </div>
  {% include 'footer.html' %}
  </body>
</html>