<div class="border-bottom mb-4 row" style="padding-bottom: 20px">
    <div class="col-9">
    <h4 class="mb-2" style="color: rgb(120,120,120)">{{job['Title']}}</h4>
    <div><b>Location :</b> {{job['Location']}}</div>
    {% if job['Salary'] > 120000 %}
        <div><b>Salary :</b> {{job['Salary']}}</div>
        <p><b>Desc :</b> Its Have Some Special Options For Employees!!</p>
    {% else %}
        <div><b>Salary :</b> {{job['Salary']}}</div>
    {% endif %}
    </div>
    <div class="col-3 align-content-center">
    <a type="button" target="_blank" href="mailto:m.aghazadeh@son.ir?subject=Question%20about%20job%20application&body=My%20name%3A%20%3CYour%20Name%20Here%3E%0D%0A%0D%0AMy%20Question%3A%20%3CEnter%20Question%3E%0D%0A%0D%0AMy%20Linkdin%3A%20%3CEnter%20Linkdin%20Link%3E" class="btn btn-outline-primary">Apply</a>
    </div>
</div>